
/**CSS external stylesheet link to 15 HTML file**/
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.structure img {
    width: 100%;
}
body {
    margin:0;
    font-family: 'Rubik', sans-serif;
}
/**this is the navigation bar and drop down section**/
.topnav {
    overflow: hidden;
    background-color:crimson;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
}
.active {
    color: white;
}
.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 21px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
    transition: 1s;
    border-radius: 10px;
}
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}
/**this is the header section**/
/**Header Earth Gif**/
/**From free https://dribbble.com**/
.header1 {
    width:100%;
    height:250px;
    z-index: -1;
    background-image: linear-gradient( 115deg, rgba(2, 2, 2, 0.2), rgba(2,255,255, 0.3) ), url(earth.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}

.header1 #logo a{
    text-decoration: none;
    padding: 20px;
    display: flex;
}

.header1 #logo a i {
    font-size: 40px;
    color:black;
    margin: 13px;
    animation: move 20s infinite;
    border-radius: 50%;
    box-shadow: white 1px 1px 7px 7px;
}

@keyframes move {
    1% {transform: rotate(360deg);
        box-shadow:black 1px 1px 1px 1px;
        color:rgb(147, 241, 4);
    }
  }

.header1 #logo a p {
    font-size:35px;
    padding-top: 5px;
    color:white;
    font-family: 'Spectral SC', serif;
}


#header1 #logo a:hover {
    opacity: 0.7;
    transition: 0.1s;
    padding: 21px;
}
/**Header Social media icon**/
.social-media {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1px 15px 1px 1px;
}
.header1 .fa {
    padding: 5px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius:15px;
}
.social-media .fa:hover {
    opacity: 0.5;
    transition: 1s;
}
.header1 .fa-facebook {
    background: #3B5998;
    color: white;
}
.header1 .fa-instagram {
    background-color: rgb(185, 67, 67);
    color: white;
}
.header1 .fa-linkedin {
    background: #007bb5;
    color: white;
}
.header1 .fa-twitter {
    background: #55ACEE;
    color: white;
}
/**Footer section**/
.site-footer {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:27px;
    color:#737373;
    padding: 10px 30px;
}
.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5 
}
.site-footer h6 {
    color:#fff;
    font-size:15px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px 
}
.site-footer a {
    color:#737373;
    text-decoration: none;
}
.site-footer .about p {
    width: 80%;
}
.site-footer .about {
    width:70%;
}
.site-footer .footer-links {
    list-style: none;
    padding-bottom: 10px;
}
.site-footer a:hover {
    color:white;
    text-decoration:none;
    transition: 1s;
}
.footer-links.inline li {
    display:inline-block;
}
/* copyright adjusting height next to social icon*/
.copyright-text {
    padding-top:10px ;
}
.copyright-text {
    margin:0 
}
/**flex social media in footer**/
.social-footer {
    display: flex;
    list-style:none;
    position: absolute;
    right: 6em;
}
.site-footer .fa {
    padding: 15px 0px 0px 0px;
    font-size: 20px;
    width: 50px;
    margin: 0px 0px;
}
/**flex about, quick links, copy right and social media**/
.site-footer .container .row {
    display: flex;
}
/*index main*/
/*the height is just the separate the header and footer, please change it*/
.welcome-main {
    width: 100%;
    height: auto;
    overflow: auto;
}
.welcome-main .text {
    font-size: 18px;
    color: white;
    background-color:#26272b;
    text-align: center;
    padding:5px 0px 2px 0px ;
    text-transform: capitalize;
    font-style: italic;
}
.mySlides {
    display:none;
}
.mySlides img {
    vertical-align: middle;
    height: 200px;
    width: 100%;
    object-fit: cover;
}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    ;
    position: relative;
    margin: auto;
}
/* Number text (1/3 etc) */
.numbertext {
    color:green;
    font-size:10px;
    padding: 10px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.welcome-main .dot {
    height: 10px;
    width: 10px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 3s ease;
}
.welcome-main .active {
    background-color: #717171;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    from {
        opacity: .4 
   }
    to {
        opacity: 1 
   }
}
@keyframes fade {
    from {
        opacity: .4 
   }
    to {
        opacity: 1 
   }
}
/*for reference HTML main section*/
main {
    height:100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
main .references-title h1 {
    padding-top:2em;
    text-align: center;
    text-transform: capitalize;
}
main .references-title {
    padding:10px 0px ;
}
main .references-list {
    border-radius: 20px;
    border: #555 3px solid;
    margin-bottom: 50px;
    padding: 20px 20px;
    width:100%;
    box-shadow: 10px 10px 10px black;
}
main .references-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
}
main .references-list li {
    width: 100%;
}
main .references-list a {
    color:#555;
    text-transform: capitalize;
    text-decoration: none;
    font-size: smaller;
    font-weight: bold;
}
main .references-list img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: block;
    border-radius:5px;
}

main .references-list img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/*mains sharing to all HTML file*/
#all-main {
    width: 100%;
    height:40em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-main-grid {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;
}
.all-main-image img {
    height:400px;
    width:500px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: black 3px 3px 3px 3px;
}
.all-main-p {
    overflow: auto;
    height:400px ;
    font-size: 20px;
    font-weight: 100;
    box-shadow: gray 3px 3px 3px 3px;
    border-radius: 20px;
    padding: 10px 20px;
    text-align:left;
    width:500px;
    line-height: 30px;
    background-color:lightgray;
    color:white;
}
.all-main-p:hover {
    background-color: darkgray;
    transition:2s;
}
.all-main-title h1 {
    padding-top:0px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}
/*contact HTML*/
main .main-grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    height:100%;
    padding: 10px;
    grid-gap: 10px;
}
main .main-grid .forms {
    background-color: darkgray;
    border-radius: 20px;
    width: 500px;
    height:35em;
    box-shadow: black 2px 2px;
    padding: 20px;
}
/*contact form*/
main .forms h1 {
    text-align: center;
    padding-bottom:10px;
    color:white;
    font-size:20px;
    cursor: pointer;
}
main .forms .note {
    border-radius: 10px;
    color: white;
    padding: 20px;
    left:20%;
    font-size:20px;
    font-style: italic;
    display: none;
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: lightskyblue;
}
.form1 h1:hover + .note{
    display:block;
}
main .form1 input[type=text], select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 11px;
}
main .form1 label {
    font-size: 15px;
}
main .forms input[type=submit]:hover {
    background-color:lightseagreen;
}
main .forms input[type=submit] {
    width: 100%;
    background-color:#26272b;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
main .forms textarea[type=msg] {
    width: 100%;
    padding: 10px 20px;
    margin:0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}
/*appointment form*/
main .appointment .appointment-grid {
    display: grid;
    grid-template-columns:auto auto;
    grid-gap: 10px;
}
main .appointment label {
    font-size: 15px;
}
main .appointment input[type="text"],input[type="date"],input[type="time"] {
    width:100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 11px;
}
main .appointment .check-box label{
    width:100%;
    line-height:30px;
    padding-right: 20px;
}
/*Map and loction at contact*/
main .icon-flex {
    display: flex;
    align-items: center;
    justify-content:center;
}
main .icon-flex .icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:0px 20px;
}
main .icon-flex .icon:hover {
    opacity:0.5;
    color: #007bb5;
}
main .icon-flex .icon i {
    font-size:25px;
    margin-bottom: 10px;
}
main .icon-flex .icon a {
    text-decoration:unset;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
main .address-location .contact-map iframe {
    border: solid 1px darkgray;
    width:100%;
    height:390px;
    border-radius:10px;
}
main .address-location .contact-map {
    height: 80%;
}
/**partners & review mains **/
#all-main .partner-grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap:5em;
}
/*HTML partner page main*/
#all-main .partner-grid .box{
width:200px;
height: 200px;
background-color:white;
border-radius: 50%;
}

#all-main .partner-grid .box img{
    width:150px;
    height: 150px;
    object-fit:cover;
    border-radius:50%;
  }

  .all-main-image img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }


.partner-grid .box{
animation: 5s mymove1 ;
    }

@keyframes mymove1 {
  1% {
      opacity: 0;
  }
}
.partner-grid .box3{
    animation: 13s mymove2;
        }

 @keyframes mymove2 {
            30% {
                transform: rotate(10deg);
        }
            40% {
                transform: rotate(-10deg);
        }
            30% {
                transform: rotate(10deg);
    }
}


/*Review HTML main*/
main .review-flex  {
    padding:50px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main .review-flex .review-grid {
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr;
    grid-gap:5em;
}

.review-flex .para {
    width: 300px;
    box-shadow:darkgray 1px 2px 3px 4px;
    border-radius: 20px; 
    padding:0 10px 0px 10px;
}

.review-flex .para p {
    font-size: 15px;
    line-height:20px;
}

.review-flex .para i {
    padding: 10px 0;
    color:gold;
    font-size: 20px;
    animation: blink 5s ;
}

@keyframes blink {
    1% {transform: rotate(360deg);
        color: goldenrod;
    }
    }

.review-flex .image img {
    width: 150px;
    border-radius: 50%;
}

/*review video*/
.review-flex .review-video {
    padding-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
}

.review-video video {
    width: 500px;
    border-radius: 20px;
    box-shadow:darkgray 1px 2px 3px 4px;

}
/**larger Desktop screen view**/
@media screen and (min-width: 1500px) {
    /*just photo slide*/
.mySlides img {
    height:350px;
    }
}
/**larger tablet view**/
@media screen and (max-width: 1150px) {
   /*nav bar section*/
    .topnav a {
        font-size: 16px;
   }
    .dropdown .dropbtn {
        font-size: 16px;
   }
   /*footer section*/
    .social-footer{
        position: relative;
        left: 3em;
   }
    .site-footer .mobile-tablet {
        display:none;
   }
    main .references-list ul {
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
   }
   /*contact main*/
   main .main-grid {
       height: 60em;
   }

   /*mains sharing to all HTML file*/
    #all-main {
        height: 60em;
   }
    .all-main-title h1 {
        padding-top:0;
   }
    .all-main-image img {
        height:400px;
        width:420px;
   }
    .all-main-p {
        font-size: 18px;
        padding: 50px 10px;
        width:450px;
        line-height:30px;
   }
   /*contact HTML*/
    .all-main-image .map {
        height:100px;
        width:450px;
   }
      /**partners & review mains **/
    #all-main .partner-grid .box{
    width:150px;
    height:150px;
    }
    
    #all-main .partner-grid .box img{
        width:150px;
        height: 150px; 
    }
    /*Review HTML main*/
    main .review-flex .review-grid {
    grid-gap:3.5em;
    }
    .review-video video {
        width: 450px;
    }
    .review-flex .review-video {
        padding-top: 2em;
        grid-gap: 3em;
    }
    
}
/**tablet view**/
@media screen and (max-width: 769px) {
   /*header section*/
    .header1 {
        width:100%;
        height:150px;
        z-index: -1;
        background-image: linear-gradient( 115deg, rgba(2, 2, 2, 0.2), rgba(2,255,255, 0.3) ), url(earth.gif);
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
   }
   /*navbar section*/
    .topnav a {
        font-size: 10px;
   }
    .dropdown .dropbtn {
        font-size: 11px;
   }
   /*footer section*/
    .social-footer{
        position: relative;
        left: 3em;
   }
    .site-footer .mobile-tablet {
        display:none;
   }
    main .references-list ul {
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto;
   }
   /*mains sharing to all HTML file*/
    #all-main {
        margin-top:2em;
        height:35em;
   }
    .all-main-grid {
        grid-gap:unset;
        justify-content: center;
   }
    .all-main-image img {
        height:100%;
        width:100%;
        box-shadow: unset;
        border-radius: unset;
   }
    .all-main-p {
        box-shadow: unset;
        font-weight: 100;
        border-radius: 0px;
        padding:20px;
        text-align:left;
        width:100%;
        line-height: 23px;
        background-color:darkgray;
        color:white;
        overflow: auto;
        height:auto;
   }
    .all-main-title h1 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 20px;
   }

   /**partners & review mains **/
    #all-main .partner-grid {
    margin: auto;
    grid-template-columns:1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

}
#all-main .partner-grid .box{
width:100px;
height:100px;
background-color:white;
border-radius: 50%;
}

#all-main .partner-grid .box img{
    width:90px;
    height: 90px;
    object-fit:cover;
    border-radius:50%;   
}
/*Review HTML main*/
main .review-flex  {
    padding:25px 0;
}

main .review-flex .review-grid {
    grid-gap:2em;
}

.review-flex .para {
    width: 200px; 
    padding:0 10px 0px 10px;
}

.review-flex .para p {
    font-size: 13px;
    line-height:20px;
}

.review-flex .para i {
    padding: 5px 0;
    font-size: 15px;
}


.review-flex .image img {
    width: 100px;
}

/*review video*/
.review-flex .review-video {
    grid-gap: 1em;
}

.review-video video {
    width: 350px;
}
}
/**Mobile view**/
@media screen and (max-width: 600px) {
   /**Navigation bar**/
    .topnav a {
        font-size: 15px;
   }
    .dropdown .dropbtn {
        font-size: 15px;
        border-bottom: solid 1px;
   }
    .topnav a:not(:nth-child(1),:nth-child(2),:nth-child(6),:nth-child(8)), .dropdown .dropbtn {
        display:none ;
   }
    .topnav a.icon {
        float: right;
        display: block;
        border: none;
   }
    .topnav.responsive {
        position: relative;
   }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
   }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
   }
    .topnav.responsive .dropdown {
        float: none;
   }
    .topnav.responsive .dropdown-content {
        position: relative;
   }
    .topnav a:hover, .dropdown:hover .dropbtn {
        border-radius: 0px;
   }
    .dropdown:hover .dropdown-content {
        display: block;
        border-radius: 0px;
        opacity: 0.9;
   }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
   }
   /**header section**/
    .header1 {
        width:100%;
        height:150px;
        z-index: -1;
        background-image: linear-gradient( 115deg, rgba(245, 245, 245, 0.0), rgba(245, 245, 233,0.0) ), url(earth.gif);
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
   }

   .header1 #logo a {
       padding:0 10px;
   }

   .header1 #logo a p {
       font-size: 15px;
       padding-top:10px;
   }

   .header1 #logo a i {
       font-size: 20px;

   }

    .social-media {
        display: flex;
        justify-content: center;
        position: relative;
        top:32%;
        margin: 1px 20px;
   }
    .header1 .fa {
        padding: 5px;
        font-size: 10px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 15px;
        border-radius:15px;
   }
   /*footer flex */
    .site-footer .container .row {
        display: block;
   }
    .site-footer .about {
        width:100%;
   }
    .container {
        padding: 20px;
   }
   /*decrease sentence in mobile site*/
    .site-footer .mobile-tablet {
        display:none;
   }
    .copyright-text {
        margin:0;
        font-size: small;
        text-align: center;
        padding-top:0;
   }
    .site-footer h6 {
        font-size:12px;
   }
    .site-footer {
        padding:0px;
        font-size:10px;
        line-height:20px;
   }
    .site-footer .fa {
        padding: 15px 0px 0px 0px;
        font-size: 20px;
        width: 25px;
        margin: 0px 0px;
   }
    .social-footer {
        display: flex;
        justify-content: center;
        font-size:18px;
        position: unset;
   }
    .social-footer li {
        margin: 10px;
   }
    .site-footer hr {
        border-top-color:#bbb;
        opacity:0.2 
   }
   /*index main slide show */
    .mySlides img {
        vertical-align: middle;
        height: 100px;
        width: 100%;
        object-fit: cover;
   }
    .welcome-main .text {
        text-align: center;
        font-size: 10px;
   }
    .welcome-main .dot {
        display:none;
   }
   /*for reference HTML main section*/
    main .references-title h1 {
        text-align: center;
        font-size: 16px;
        text-transform: capitalize;
   }
    main .references-title {
        padding:10px 0px ;
   }
    main .references-list {
        border-radius: 20px;
        border: #555 1px solid;
        margin-bottom: 50px;
        padding: 10px 10px;
        width:100%;
        box-shadow:3px 3px 3px 0px black;
        overflow: auto;
        height: 400px;
   }
    main .references-list ul {
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2px;
   }
    main .references-list li {
        width: 100%;
   }
    main .references-list a {
        color:#555;
        text-transform: capitalize;
        text-decoration: none;
        font-size: smaller;
        font-weight: bold;
   }
    main .references-list img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        display: block;
        border-radius:5px;
   }
   /*mains sharing to all HTML file*/
    #all-main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
   }
    .all-main-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap:0;
        width:100%;
   }
   /*responsive for all HTML main section img*/
    .all-main-image img {
        width:100%;
        object-fit: cover;
        box-shadow:unset;
        border-radius:0px 0px 0px 10px;
        background-color: darkgray;
   }
   /*responsive for all HTML main section paragraph*/
    .all-main-p {
        font-weight: 100;
        box-shadow:unset;
        border-radius:0px 10px 0px 0px;
        padding: 10px 10px;
        width:100%;
        text-align: center;
        background-color:darkgray;
        color:white;
        text-align: left;
        height: auto;
        margin:0;
        text-align: left;
        line-height:20px;
        font-size: 13px;
   }
    .all-main-title h1 {
        padding-top: 2em;
        margin-bottom: 20px;
        text-align: center;
        font-size:16px;
        width: 100%;
   }
   /*contact HTML*/
   /*contact form*/
   main .main-grid {
    height: 100%;
}
    main .main-grid .forms {
        width:350px;
        border-radius: 10px;
        height:100%;
        box-shadow:unset;
        padding:15px;
   }
    main .forms h1 {
        font-size:15px;
        padding:10px 0px;
   }
    main .form1 input[type=text], select {
        margin:10px 0;
        font-size:10px;
   }
    main .form1 label {
        font-size: 13px;
   }
    main .forms input[type=submit] {
        padding: 8px 0px;
        margin: 8px 0;
        border-radius: 3px;
   }
   /*appointment form*/
    main .appointment .appointment-grid {
        grid-gap:5px;
        grid-template-columns:160px 160px;
   }
    main .appointment input[type="text"],input[type="date"],input[type="time"] {
        font-size: 10px;
   }
    main .appointment .check-box label{
        line-height:25px;
        font-size: 15px;
   }
   /*Map and loction at contact HTML*/
    main .icon-flex {
        display: unset;
   }
    main .icon-flex .icon {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding:0px 0px;
   }
    main .icon-flex .icon i {
        font-size:30px;
        margin:20px 0;
   }
    main .icon-flex .icon a {
        text-decoration:unset;
        color: white;
        font-size: 10px;
        cursor: pointer;
   }
    main .address-location .contact-map iframe {
        height:200px;
        border-radius:5px;
   }
    main .address-location .contact-map {
        height: 40%;
   }
   /**partners & review mains **/
#all-main .partner-grid {
    
    margin: auto;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: unset;
    justify-content: center;
    align-items: center;

}
#all-main .partner-grid .box{
width:100px;
height:100px;
background-color:white;
border-radius: 50%;
}

#all-main .partner-grid .box img{
    width:90px;
    height: 90px;
    object-fit:cover;
    border-radius:50%;   
}

/*Review HTML main*/
main .review-flex  {
    padding:0 0 10px 0;
}

main .review-flex .review-grid {
    grid-template-columns:auto auto;
    grid-gap:1em;
}

.review-flex .para {
    width: 200px;
    padding:0 10px 0px 10px;
}

.review-flex .para p {
    font-size: 10px;
    line-height:13px;
}

.review-flex .para i {
    padding: 10px 0;
    font-size: 13px;
}

.review-flex .image img {
    width: 100px;
    border-radius: 25%;
}

/*review video*/
.review-flex .review-video {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
}

.review-video video {
    width: 350px;
}
}
/*smaller mobile view */
@media screen and (max-width: 350px) {
    .topnav a:not(:nth-child(1),:nth-child(2),:nth-child(6)),.dropdown .dropbtn {
        display:none;
   }
    .topnav a.icon {
        float: right;
        display: block;
        border: none;
   }
    .header1 {
        width:100%;
        height:150px;
        z-index: -1;
        background-image: linear-gradient( 115deg, rgba(245, 245, 245, 0.0), rgba(245, 245, 233,0.0) ), url(earth.gif);
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
   }
   /*footer section*/
   /*copy right */
    .copyright-text {
        margin:0;
        font-size: 10px;
        text-align: center;
   }
   /*for reference HTML main section*/
    main .references-list img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        display: block;
        border-radius:5px;
   }

   /*mains sharing to all HTML file*/
    #all-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
   }
   /*responsive for all HTML main section paragraph*/
    .all-main-p {
        font-size: 13px;
        font-weight: 100;
        box-shadow:none;
        max-width:100%;
        line-height:18px;
   }
    .all-main-title h1 {
        padding-top: 1em;
        margin-bottom: 20px;
        text-align: center;
        font-size:small;
        width: 100%;
   }
   /*contact HTML*/
   /*contact form*/
    main .main-grid .forms {
        width:300px;
   }
   /*appointment form*/
    main .appointment .appointment-grid {
        grid-gap:7px;
        grid-template-columns:130px 130px;
   }
   /*Review HTML main*/
main .review-flex .review-grid {
    grid-template-columns:auto auto;
    grid-gap:1em;
}
.review-flex .para {
    width: 180px;
}
/*review video*/
.review-video video {
    width: 300px;
}

}
